/*#########################################
GENERAL STYLES
#########################################*/

$primary-bg: #fff;

$primary-color: #34495e;
$link-color: #F27935;

$pri-font-color: #2e2e2e;
$sec-font-color: #f7f7f7;
$link-hover: #F27935;

body {
  font-family: 'Lato', sans-serif;
  color: $pri-font-color;
  background: $primary-bg;
  -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'entypo-social';
    src: url('/images/entypo-social.eot');
    src: url('/images/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('/images/entypo-social.woff') format('woff'),
         url('/images/entypo-social.ttf') format('truetype'),
         url('/images/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
    max-width: 100%;
}

p {
  font-weight: 400;
}

a, a:link, a:visited {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  color: $pri-font-color;
  text-decoration: none;
}

.button,button, a.button {
    background-color: $primary-bg;
    color: $pri-font-color;
    border: 1px solid #292929;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.button:hover, button:hover {
    background: $link-color;
    color: $sec-font-color;
}

hr {
    border: 0;
    border-top: 1px solid #dedede;
}

.bold {
    font-weight: 700;
}

/*#########################################
HEADER SECTION
#########################################*/

.header-border {
    border-top: #F27935 7px solid;
}

.header {
    padding: 3% 0;
}

.header img {
    float: left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 125px;
    width: 125px;
    margin-right: 4%;
}

.header h1 {
    padding-top: 20px;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
}

.header h4 {
    line-height: 1;
}

.header nav ul {
    list-style: none;
    margin: 0;
}

.header nav ul li {
    padding-right: 0.2rem;
    display: inline-block;
    font-weight: 400;
    font-size: 0.9rem;
}

.header a, .header a:visited {
    color: $pri-font-color;
}

.header a:hover {
    color: $link-hover;
}

/*#########################################
SUBPAGE-HEADER SECTION
#########################################*/

.subpage-header{
    margin-top: 1%;
    margin-bottom: 4%;
}

.subpage-header ul {
    list-style: none;
    margin: 0;
}

.subpage-header ul li {
    padding-right: 0.2rem;
    display: inline-block;
    font-weight: 400;
    font-size: 0.9rem;
}

.subpage-header a {
    color: $pri-font-color ;
}

.subpage-header a:visted {
    color: $pri-font-color ;
}

.subpage-header nav ul li a:hover {
    color: $link-color;
}

/*#########################################
SOCIAL ICONS
#########################################*/

.social-icons a {
    color: $pri-font-color;
}

.social-icons a:hover {
    color: $link-color;
}

.social-icons a {
    font-family: 'entypo-social';
    font-size: 4em;
    padding: 0 0.2rem;
}

/*#########################################
ABOUT SECTION
#########################################*/

.about hr {
    margin:0;
    padding:0;
    margin-top: -22px;
    margin-bottom: 4%;
}


.about h4 span {
     padding-right: 20px;
     background: $primary-bg;
 }

/*#########################################
CONTACT SECTION
#########################################*/

.contact {
    margin-top: 4%;
    margin-bottom: 4%;
}

.contact ul {
    list-style: none;
    margin-left: 0;
}

.contact ul li {
    padding-right: 3%;
    display: inline-block;
}

.contact hr {
    margin:0;
    padding:0;
    margin-top: -22px;
    margin-bottom: 4%;
}

.contact h4 span {
     padding-right: 20px;
     background: $primary-bg;
 }

.contact i {
    margin-right: 5px;
}

.contact a, .contact a:visited {
    color: $pri-font-color;
}

.contact a:hover {
    color: $link-hover;
}

/*#########################################
PROJECTS PAGE
#########################################*/

.projects {
    margin-bottom: 35%;
}

.projects h1 {
    font-size: 2rem;
}


/*#########################################
BLOG PAGE
#########################################*/

.blog {
    margin-top: 2%;
    margin-bottom: 2%;
}

.blog-header h1 {
    margin-bottom: 0;
}

.blog-header h1 {
    font-size: 2rem;
    font-weight: 700;
}

.blog-header h1 a {
    color: $pri-font-color;
}

.blog-header h1 a:hover {
    color: $link-color;
}

@media only screen and (max-width: 40em) { 
    .blog-header h1 {
        font-size: 1.5rem;
    }
}

.post-date {
    font-size: 0.9rem;
}   

.posts-list {
    padding: 1% 0;
}

.paginator {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: right;
}

.sub-header h1 {
    font-size: 1.5rem;
}

/*#########################################
BLOG POSTS
#########################################*/

.blog-post {
    margin-top: 2%;
    margin-bottom: 2%;
}

.post-header {
    text-align: center;
    margin-bottom: 8%;
}

.post-header h1 {
    color: $pri-font-color;
    font-size: 2.5rem;
    font-weight: 700;
}

@media only screen and (max-width: 40em) { 
    .post-header h1 {
        font-size: 1.6em;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
     .post-header h1 {
        font-size: 2rem;
    }
}

.blog-post h3 {
    margin-top: 5%;
}

.blog-post img {
    border-radius: 10px;
}

.post-header p {
    margin-bottom: 0;
}

.highlight {
  background: #ededed;
  padding: 10px 10px;
  margin-bottom: 2%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 0.5px #dedede;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code {
  font-weight: 400;
  color: $pri-font-color;
}

.disqus {
    margin-top: 10%;
}

/*#########################################
FOOTER
#########################################*/

.footer {
    text-align: center;
}