/*#########################################
GENERAL STYLES
#########################################*/

$primary-bg: #fff;

$primary-color: #34495e;
$link-color: #F27935;

$pri-font-color: #2e2e2e;
$sec-font-color: #f7f7f7;

body {
  font-family: 'Lato', sans-serif;
  color: $pri-font-color;
  background: $primary-bg;
  -webkit-font-smoothing: antialiased;

}

@font-face {
    font-family: 'entypo-social';
    src: url('/images/fonts/entypo-social.eot');
    src: url('/images/fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('/images/fonts/entypo-social.woff') format('woff'),
         url('/images/fonts/entypo-social.ttf') format('truetype'),
         url('/images/fonts/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo';
    src: url('/images/fonts/entypo.eot');
    src: url('/images/fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('/images/fonts/entypo.woff') format('woff'),
         url('/images/fonts/entypo.ttf') format('truetype'),
         url('/images/fonts/entypo.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
    max-width: 100%;
}

p {
  font-weight: 400;
}

a, a:link, a:visited {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  color: $pri-font-color;
  text-decoration: none;
}

.button,button, a.button {
    background-color: $primary-bg;
    color: $pri-font-color;
    border: 1px solid #292929;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.button:hover, button:hover {
    background: $link-color;
    color: $sec-font-color;
}

hr {
    border: 0;
    border-top: 1px solid #dedede;
}

.bold {
    font-weight: 700;
}

/*#########################################
HEADER SECTION
#########################################*/

.header-border {
    border-top: $pri-font-color 7px solid;
}

.section-header {
    text-align: center;
}

.section-content {
    padding-top: 3%;
}

/*#########################################
NAV MENU
#########################################*/

#trigger-overlay {
    font-family: 'entypo';
    font-size: 4rem;
}

.nav-menu {
    font-size: 2em;
    color: $sec-font-color;
    text-align: right;
    padding-right: 20px;
}

.subpage-nav-menu {
    font-size: 2em;
    color: $pri-font-color;
    text-align: right;
    padding-right: 20px;
}

/*#########################################
SUBPAGE-HEADER SECTION
#########################################*/

.subpage-logo {
    text-align: center;
}

.subpage-logo img {
    width: 100px;
    height: 100px;
}

/*#########################################
CTA SECTION
#########################################*/

.cta-bg {
    background: #383838;
    height: 100%;
    width: 100%;
}

.cta {
    text-align: center;
    padding-top: 12%;
}

.cta h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: $sec-font-color;
    letter-spacing: 0.85rem;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .cta h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 40em) { 
    .cta h1 {
        font-size: 2rem;
    }
}

.cta h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: $sec-font-color;
}

.cta p {
    color: $sec-font-color;
    line-height: 0.4;
}

.cta img {
    height: 100px;
    widows: 100px;
    margin-bottom: 2%;
}

.cta .scroll {
    position:absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.cta .scroll span {
    font-family: 'entypo';
    color: $sec-font-color;
    font-size: 3.5rem;
    line-height: 0.5rem;
}

/*#########################################
SOCIAL ICONS
#########################################*/

.social-icons a {
    color: $sec-font-color;
}

.social-icons a:hover {
    color: $link-color;
}

.social-icons a {
    font-family: 'entypo-social';
    font-size: 5rem;
    padding: 0 0.2rem;
}

/*#########################################
ABOUT SECTION
#########################################*/

.about {
    padding-top: 6%;
    padding-bottom: 4%;
}

.about hr {
    margin:0;
    padding:0;
    margin-top: -22px;
    margin-bottom: 4%;
}

.about h4 span {
     padding: 20px;
     background: $primary-bg;
    text-align: center;
 }
   
.about img {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/*#########################################
CONTACT SECTION
#########################################*/

.contact {
    margin-top: 4%;
    margin-bottom: 4%;
}

.contact ul {
    list-style: none;
    margin-left: 0;
}

.contact ul li {
    padding-right: 3%;
    display: inline-block;
}

.contact hr {
    margin:0;
    padding:0;
    margin-top: -22px;
    margin-bottom: 4%;
}

.contact h4 span {
     padding: 20px;
     background: $primary-bg;
 }

.contact i {
    margin-right: 5px;
}

.contact a, .contact a:visited {
    color: $pri-font-color;
}

.contact a:hover {
    color: $link-color;
}

.contact input, .contact textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.contact button[type="submit"] {
    padding: 10px;
}

.contact button[type="submit"] {
    padding: 10px;
}

.contact button[type="submit"]:hover {
    color: $sec-font-color;
    background-color: $link-color;
}

.social-contact {
    text-align: center;
}

/*#########################################
WORK SECTION
#########################################*/

.work {
    padding-top: 4%;
    padding-bottom: 4%;
}

.work hr {
    margin:0;
    padding:0;
    margin-top: -22px;
    margin-bottom: 4%;
}

.work h4 span {
     padding: 20px;
     background: $primary-bg;
    text-align: center;
 }

.work ul {
    list-style: none;
    margin-left: 0;
}

.work .button {
    font-size: 1rem;
    padding: 10px;
}

.slider {
    font-family: 'slider';
    color: $pri-font-color;
}

.slider a.button:hover, button:hover {
    background: none;
}

.work-slider {
    padding: 0 !important;
}



/*#########################################
BLOG PAGE
#########################################*/

.blog {
    margin-top: 4%;
    margin-bottom: 2%;
}

.blog-header h1 {
    margin-bottom: 0;
}

.blog-header h1 {
    font-size: 2rem;
    font-weight: 700;
}

.blog-header h1 a {
    color: $pri-font-color;
}

.blog-header h1 a:hover {
    color: $link-color;
}

@media only screen and (max-width: 40em) { 
    .blog-header h1 {
        font-size: 1.5rem;
    }
}

.post-date {
    font-size: 0.9rem;
}   

.posts-list {
    padding: 1% 0;
}

.paginator {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: right;
}

.sub-header h1 {
    font-size: 1.5rem;
}

/*#########################################
BLOG POSTS
#########################################*/

.blog-post {
    margin-top: 4%;
    margin-bottom: 2%;
}

.post-header {
    text-align: center;
    margin-bottom: 8%;
}

.post-header h1 {
    color: $pri-font-color;
    font-size: 2.5rem;
    font-weight: 700;
}

@media only screen and (max-width: 40em) { 
    .post-header h1 {
        font-size: 1.6em;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
     .post-header h1 {
        font-size: 2rem;
    }
}

.blog-post h3 {
    margin-top: 5%;
}

.blog-post img {
    border-radius: 10px;
}

.post-header p {
    margin-bottom: 0;
}

.highlight {
  background: #ededed;
  padding: 10px 10px;
  margin-bottom: 2%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 0.5px #dedede;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code {
  font-weight: 400;
  color: $pri-font-color;
}

.disqus {
    margin-top: 10%;
}

/*#########################################
FOOTER
#########################################*/

.footer {
    text-align: center;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
}

.footer-nav ul li {
    display: inline-block;
    padding: 0 1%;
    font-size: 0.9rem;
}

.footer-nav a {
    color: $pri-font-color;
}

.footer-nav a:visted {
    color: $pri-font-color;
}

.footer-nav a:hover {
    color: $link-color;
}