$primary-bg: #fff;
$secondary-bg: #F7F5ED;
$primary-color: #34495e;
$link-color: #000;
$cta-link-color: #fff;
$sec-link-color: #f28b12;
$pri-font-color: #000;
$sec-font-color: #f7f7f7;

body {
    font-family: 'Roboto', sans-serif;
    background: $secondary-bg;
}

a {
    text-decoration: none;
    word-wrap: break-word;
}

a:hover,
a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    width: 65%;
    margin: 0 auto;
}

.header-bar {
    border-bottom: 4px solid #000;
}

/*#########################################
LOGO
#########################################*/

.logo {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 2em;
}

.logo span {
    padding: 10px 15px;
    border: solid 3px;
}

/*#########################################
NAVIGATION
#########################################*/

.nav-bar {
    padding-top: 0.6em;
    list-style: none;
    text-align: center;
}

.nav-bar li {
    display: inline;
    font-size: 0.9em;
    padding-right: 1em;
}

.nav-bar a {
    color: $link-color;
    text-decoration: none;
}

.nav-bar a:hover {
    color: $sec-link-color;
}

/*#########################################
INTRODUCTION
#########################################*/

.intro {
    padding-top: 2em;
    padding-bottom: 2em;
//    text-align: center;
}

.intro a {
    color: $link-color;
}

.intro a:hover {
    color: $sec-link-color;
}

/*#########################################
WORK
#########################################*/

.work {
    padding-top: 4em;
    padding-bottom: 3em;
}

.work h6 {
    font-weight: 700;
}

.work p {
    margin: 0;
}

.work a {
    color: $link-color;
}

.work a:hover {
    color: $sec-link-color;
}

/*#########################################
BLOG ARTICLE LIST ON HOME
#########################################*/

.blog-list {
    padding-bottom: 4em;
}

.blog-list h6 {
    font-weight: 700;
}

.blog-list p {
    margin: 0;
    font-size: 1em;
}

.blog-list a {
    color: $link-color;
}

.blog-list a:hover {
    color: $sec-link-color;
}


/*#########################################
BLOG
#########################################*/

.blog {
    margin-top: 3em;
    margin-bottom: 3em;
}

.blog a {
    color: $sec-link-color;
}

.blog-header h1 {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 0;
}

.blog-header h1 a {
    color: $pri-font-color;
}

.blog-header h1 a:hover {
    color: $sec-link-color;
}

.post-date {
    font-size: 0.9em;
}

.posts-list {
    padding: 1% 0;
}

.paginator {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: right;
}

/*#########################################
BLOG POSTS
#########################################*/

.blog-post {
    margin-top: 4em;
    margin-bottom: 3em;
}

.blog-post a {
    color: $sec-link-color;
}

.post-header {
    text-align: center;
    margin-bottom: 3em;
}

.post-header h1 {
    color: $pri-font-color;
    font-size: 2rem;
    font-weight: 700;
}

@media only screen and (max-width: 40em) {
    .post-header h1 {
        font-size: 1.6em;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
     .post-header h1 {
        font-size: 1.8em;
    }
}

.blog-post h2 {
    font-size: 1.8em;
    font-weight: 700;
}

.blog-post h3 {
    font-size: 1.3em;
}

.highlight {
  padding: 10px 10px;
  margin-bottom: 2%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    overflow: auto; 
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code {
    border: none;
    background-color: none !important;
    color: #f7f7f7;
}

.disqus {
    margin-top: 4em;
    margin-bottom: 3em;
}


/*#########################################
FOOTER
#########################################*/

.footer {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}

.footer a {
    color: $link-color;
}

.footer a:hover {
    color: $sec-link-color;
}

.footer-social-icons {
    padding-top: 0.5em;
    text-align: center;
}

.footer-social-icons h4 {
    color: $sec-font-color;
}    

.footer-social-icons a {
    color: $link-color;
}

.footer-social-icons a:hover {
    color: $sec-link-color;
}

.footer-social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social-icons li {
    padding-left: 0;
    display: inline-block;
    padding-right: 0.6em;
    padding-left: 0.6em;
    font-size: 1.8em;
}