---
layout: main
title: Eric Price - Freelance Web Designer and Developer
---

<div class="cta-bg">

   {% include navbar.html %}
      
    <section class="cta">
        <div class="row">
            <div class="large-12 columns text-center">
                <h1>CRAFTING DIGITAL EXPERIENCES</h1>
                <h4>Creating modern and clean responsive web designs</h4>
            </div>
        </div>
        <div class="large-12 columns text-center top-2">
                <a href="https://plus.google.com/u/2/105475388741669903128"><span class="pictogram">&#62224;</span></a>
                <a href="https://twitter.com/EricPrice2"><span class="pictogram">&#62218;</span></a>
                <a href="https://www.facebook.com/eric.price.125760"><span class="pictogram">&#62221;</span></a>
        </div>
        <div class="row">
            <div class="text-center top-2">
                <a href="#seemore" class="button">READ MORE</a>
            </div>
        </div>
    </section>
    
</div> <!--End CTA Background -->

        <section id="seemore" class="about-highlight">
            <div class="row">
                <div class="large-10 large-centered text-center columns">
                    <h3>Hi, I'm Eric Price, a freelance web developer and designer based in the Raleigh area, North Carolina, specializing in responsive design websites. Contact me </h3>
                </div>
            </div>
        </section>

     <section class="service-highlight">
        <div class="row">
            <div class="large-12 columns text-center">
                <h2>WHAT I CAN DO FOR YOU</h2>
            </div>
        </div>
        <div class="row text-center largewidth top-4">
                <div class="medium-6 large-3 columns">
                        <img src="/images/icons/responsive.png">
                        <h4>Responsive Design</h4>
                        <p>I create responsive designs that allow your website to adjust to variety of screen sizes and devices. Read More.</p>
                </div>
                <div class="medium-6 large-3 columns">
                        <img src="/images/icons/cms.png">
                        <h4>CMS Integration</h4>
                        <p>Provide my clients with the ability to manage content on their site after the sites launch. Read More.</p>
                </div>
                <div class="medium-6 large-3 columns">
                        <img src="/images/icons/uxui.png">
                        <h4>UX and UI Design</h4>
                        <p>My hand-coded sites focus on clean, modern designs with clear visibility of your content and brand. Read More.</p>
                </div>
        
                <div class="medium-6 large-3 columns">
                    <img src="/images/icons/maintenance.png">
                    <h4>SEO and Analytics</h4>
                    <p>My sites are optimized for performance and follow Google's best practices for SEO. Read More.</p>
                </div>
        </div>
    
        <div class="row">
            <div class="large-12 columns text-center top-4">
                <a href="/services" class="button">LEARN MORE</a>
            </div>
        </div>
    </section>

    <section class="recent-work">
        <div class="row">
            <div class="large-12 columns text-center bottom-2">
                <h2>FEATURED WORK</h2>
                <h5>I believe my passion for web design shows in my work. Here are few examples of my most recent work.</h5>
            </div>
        </div>
        <div class="row">
            <div class="large-9 large-centered columns">
                <div class="slider-wrapper">
                <div id="slider">
                    <div class="slide1">
                        <img src="/images/portfolio/anvil-software-responsive.png" alt="" />
                    </div>
                    <div class="slide2">
                        <img src="/images/portfolio/creative-responsive.png" alt="" />
                    </div>
                    <div class="slide3">
                        <img src="/images/portfolio/hammer-responsive.png" alt="" />
                    </div>
                </div>
                    <div id="slider-direction-nav"></div>
                    <div id="slider-control-nav"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="recent-blog">
       <div class="row">
            <div class="large-12 columns text-center bottom-5">
                <h2>LATEST POSTS</h2>
                <h5>Helpful guides on all things web development</h5>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                {% for post in site.posts limit: 2 %}
                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <p>{{ post.content | strip_html | truncatewords:45 }}</p>
                    <p><a href="{{ post.url }}">Read More</a></p>
                {% endfor %}
            </div>
        </div>
    </section>
    
