<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
	<meta name="description" content="Freelance web developer and designer in the Raleigh area, North Carolina. Specializing in responsive web design that brings clear focus to your content and brand. Contact me today to get started." />
	<meta name="author" href="/humans.txt" />
	<meta name="keywords" content="developer designer website responsive design north carolina nc raleigh garner durham" />
    
    <link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
      
 <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
