<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta name="description" content="Web developer in Durham, North Carolina." />
	<meta name="author" href="/humans.txt" />
	<meta name="keywords" content="developer designer website responsive design north carolina nc raleigh garner durham" />

    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
	<link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

    <link rel="stylesheet" href="/out/app.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>

      <div class="header-bar"></div>

      <!-- <div class="logo-background"> -->

      <div class="row">

        <div class="large-12 columns text-center">

                <!-- <div class="logo">
                      <a href="/"><span>ERIC PRICE</span></a>
                  </div> -->

                <div class="logo2">
                <a href="/"><img src="/img/logo2.png"></a>
              </div>

              <div class="cta">
                <h1><a href="/">Eric Price</a></h1>
                  <h5>Web Developer</h5>
                </div>

                  <nav>
                      <ul>
                          <li><a href="/#work">WORK</a></li>
                          <li><a href="/blog/">BLOG</a></li>
                          <li><a href="/about/">ABOUT</a></li>
                          <li><a href="mailto:mail@eric-price.net">CONTACT</a></li>
                        </ul>
                  </nav>


                <!-- <div class="cta">
                  <h1>Web Developer</h1>
                  <p>With a dedication to crafting exceptional digital products and experiences</p>
                </div> -->
          </div>

        </div>

        <div class="row">
          <hr>
        </div>

    <!-- </div> --> <!-- logo background end -->
