<section id="full-nav" class="show-for-large-up">
        <div class="row">
                <div class="large-2 columns">
                    <a href="/"><img src="/images/logo3.png"></a>
                </div>
                <div class="large-8 columns text-right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a data-scroll href="#about">About</a></li>
                    <li><a href="/portfolio">Work</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                </div>
        </div>
</section>
        
        <div class="show-for-medium-down">
        <div class="contain-to-grid nav-style">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="/"></a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

            <section class="top-bar-section">
                <ul class="right">
                    <li><a href="/">Home</a></li>
                    <li><a data-scroll href="/#about">About</a></li>
                    <li><a href="/portfolio">Work</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </section>
            </nav>
        </div>

        <div id="nav-logo" class="row top-2">
            <div class="text-center">
                <img src="/images/logo3.png">
            </div>
        </div>
            
        </div>

