<section class="full-nav show-for-large-up">
        <div class="row">
                <div class="large-2 columns">
                    <a href="/"><img src="/images/logo3.png"></a>
                </div>
                <div class="large-8 columns text-right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/process">Process</a></li>
                    <li><a href="/portfolio">Work</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                </div>
            <!--
            <div class="large-5 columns text-right">
                <a href="https://plus.google.com/u/2/105475388741669903128"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.facebook.com/eric.price.125760"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/EricPrice2"><i class="fa fa-twitter"></i></a>
                <a href="mailto:eric.price.co@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="tel:+19197491678"><i class="fa fa-phone"></i></a>
            </div>
            -->
        </div>
</section>
        
        <div class="show-for-medium-down">
        <div class="contain-to-grid nav-style">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="/"></a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

            <section class="top-bar-section">
                <ul class="right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/process">Process</a></li>
                    <li><a href="/portfolio">Work</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </section>
            </nav>
        </div>

        <div class="row nav-logo top-2">
            <div class="text-center">
                <img src="/images/logo3.png">
            </div>
        </div>
            
        </div>

