<header>
    <nav class="full-nav">
        <div class="pure-g">
                <div class="l-box pure-u-1">
                <ul>
                    <li><a data-scroll href="/#about">About</a></li>
                    <li><a href="/portfolio">Work</a></li>
                    <a href="/"><img src="/images/logo3.png" alt="EP Logo" title="Eric Price"></a>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                </div>
        </div>
    </nav>   

     <div class="nav-logo" class="row">
            <a href="/"><img src="/images/logo3.png" alt="EP Logo" title="Eric Price"></a>
    </div>
    
</header>