<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        
         <nav>
                    <ul class="mobile-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/portfolio">Work</a></li>
                        <li><a href="/">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
        
        <hgroup>
            
                <img src="/images/profile.jpg">
            
                <h1>Eric Price</h1>
                <p>Freelance web developer based in the Raleigh area, North Carolina.</p>
                <nav>
                    <ul class="desktop-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/portfolio">Work</a></li>
                        <li><a href="/">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                    <div class="social-icons">
                        <a href="https://plus.google.com/u/2/105475388741669903128"><i class="fa fa-google-plus"></i></a>
                        <a href="https://www.facebook.com/eric.price.125760"><i class="fa fa-facebook"></i></a> 
                        <a href="https://twitter.com/EricPrice2"><i class="fa fa-twitter"></i></a>
                        <a href="http://github.com/eric2025"><i class="fa fa-github"></i></a>
                    </div>
            </hgroup>
    </div>
</div>