---
layout: main
title: Blog - Eric Price - Freelance Web Designer and Developer
---

<div class="sub-cta-bg">

{% include navbar.html %}

{% include blog-cta.html %}

</div>

    <section class="blog">
        <div class="row">
            <div class="large-9 columns">
                {% for post in site.posts limit: 5 %}
                    <div class="posts-list">
                        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                        <p>{{ post.date | date: '%B %d, %Y' }}</p>
                        <p>{{ post.excerpt }}</p>
                        <p><a href="{{ post.url }}">Read More</a></p>
                    </div>
                {% endfor %}
            </div>
            <div class="large-2 columns sidebar">
                {% include sidebar.html %}
            </div>
        </div>
</section>

