/*---- General Styles ----*/

body {
    font-family: 'Lato', sans-serif !important;
    color: #212121 !important;
}

a,a:link,a:hover,a:visited,a:active {
    text-decoration: none;
    color: #212121;
}

a:hover,a:active {
    color: #E38812;
}

a.button,a.button:hover,button { 
    background: #383838 !important;
    font-size: 15px !important;
    font-weight:normal !important;
    text-align: center !important;
    padding: .6em 1.1em !important;
    color: #f7f7f7 !important;
    text-decoration: none !important; 
    -webkit-border-radius: 5px !important; 
    -moz-border-radius: 5px !important; 
    border-radius: 5px !important;
    border: 0 !important;
}

.divider {
    width: 100px;
    border-bottom: #383838 2px solid;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/*---- Layout Styles ----*/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justified {
    text-align: justify;
}

.top-2 {
    padding-top: 2%;
}

.top-4 {
    padding-top: 4%;
}

.top-5 {
    padding-top: 5%;
}

.top-10 {
    padding-top: 10%;
}

.bottom-3 {
    padding-bottom: 3%;
}

.bottom-2 {
    padding-bottom: 2%;
}

.bottom-5 {
    padding-bottom: 5%;
}

/*---- CTA ----*/

@media only screen and (min-width:768px) {
.cta {
    padding-top: 10%;
    padding-bottom: 5%;
    background: #F5F4F0;
      background: url('../images/cta-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    }
}

.cta h1 {
    color: #f7f7f7;
    font-size: 3.2em;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width:767px) {
    .cta {
    padding-top: 10%;
    padding-bottom: 5%;
    background: #f2f2f2;
      background: url('../images/cta-bg-sm.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    }
    .cta h1 {
        font-size: 2.5em;
    }

}



.cta h4 {
    color: #f7f7f7;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
}

.sub-cta {
    padding-top: 6%;
    padding-bottom: 5%;
    background: #F5F4F0;
}

.sub-cta h2 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.15em;
}

/*---- Nav Bar ----*/

.nav { 
    display: block;
    background-color: #222;
    text-align: center; 
    width: 100%;
    padding: 14px 0; 
    z-index: 101; 
}

.nav select { 
    display: none; 
}

.nav ul { 
    display: block; 
    margin: 0 auto; 
    text-align: center; 
    list-style: none 
}

.nav ul li { 
    display: inline; 
    padding: 0 10px 0; 
}

.nav ul li a, nav ul li a:visited, nav ul li a:active {
    color: #fff; 
    font-size: 14px; 
    position: relative; 
    text-decoration: none; 
    text-transform: uppercase; 
}

.nav ul li.first {
    padding-left: 0; 
}

.nav ul li.last { 
    border-right: none;
    padding-right: 0; 
}

.nav ul li a:hover, nav ul li a:focus { 
    color: #E38812; 
}

.nav ul li.current_page_item a { 
    color: #E38812; 
}

.nav ul li.current_page_ancestor a { 
    color: #E38812; 
}

/*---- About ----*/

.about {
    padding-top: 7%;
    padding-bottom: 5%;
    background: #F5F4F0;
}

/*---- Quote -----*/

@media only screen and (min-width:768px) {
    .quote {
        padding-top: 5%;
        padding-bottom: 3%; 
        background: url('../images/quote-bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        color: #f7f7f7;
    }
}

@media only screen and (max-width:767px) {
    .quote {
        padding-top: 5%;
        padding-bottom: 3%; 
        background: url('../images/quote-bg-sm.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        color: #f7f7f7;
    }
    .quote h2 {
        font-size: 1.5em;
    }
}

.quote h2 {
    color: #f7f7f7;
}

/*---- Recent Work ----*/

.recent-work {
    padding-top: 7%;
    padding-bottom: 7%;
    background: #F5F4F0;
}

.recent-work img {
    border: solid 1px #383838;
}

.img-overlay {
    position: relative;
}
    
/*---- Service ----*/

.service-highlight {
    padding-top: 5%;
    padding-bottom: 7%;
    background: #EBE9E4;
}

.service-highlight h4 {
    padding-bottom: 10px;
}

.service-highlight img {
    padding-bottom: 10px;
}

/*---- Recent Blog ----*/

.recent-blog {
    padding-top: 5%;
    padding-bottom: 5%;
    background: #f9f8f7;
}

.recent-blog ul {
    list-style: none;
}

/*---- Footer ----*/

.project {
    padding-top: 2%;
    padding-bottom: 2%;
    background: #4485A6;
    color: #383838;
}

.project h3 {
    color: #383838;
}

.footer {
    padding-top: 2%;
    padding-bottom: 3%;
    background: #383838;
    color: #f2f2f2;
}

@media only screen and (max-width:767px) {
    .footer {
        padding-bottom: 10%
    }
}

.footer i {
    font-size: 2em;
    padding-right: 17px;
    padding-top: 10px;
}

.footer i:hover {
    color: #E38812;
}

.footer a,.footer a:visited {
    color: #f2f2f2;
}

.footer a:hover,.footer a:active {
    color: #E38812;
}

.footer p {
    padding-top: 15px;
}

.footer h4 {
    color: #f2f2f2;
}

/*---- Process Page ----*/

.process-group {
    background: #F5F4F0;
    padding-bottom: 8%;
}

.process-section {
    padding-top: 5%;
}

.process-group img {
    padding-bottom: 2%;
}

.process-group h4 {
    padding-bottom: 4%;
}

/*---- Services Page ----*/

.services {
    background: #F5F4F0;
}

.service-section {
    padding-top: 3%;
    padding-bottom: 3%;
}

.service-section span {
    text-decoration: underline;
}

/*---- Contact Page ----*/

.contact {
    background: #F5F4F0;
    padding-bottom: 5%;
}

.form-submit i {
    font-size: 3em;
}

/*---- Portfolio Page ----*/

.portfolio {
    background: #F5F4F0;
}

.portfolio-section-top {
    padding-top: 1%;
    padding-bottom: 6%;
    background: #F5F4F0;
}

.portfolio-section {
    padding-top: 6%;
    padding-bottom: 6%;
    background: #F5F4F0;
}

.portfolio-section2 {
    padding-top: 6%;
    padding-bottom: 6%;
    background: #EBE9E4;
}

/*---- Blog Page ----*/

.blog {
    padding-bottom: 5%;
    background: #F5F4F0;
}

.blog ul {
    list-style: none;
}

.posts-list {
    padding-top: 2%;
    padding-bottom: 2%;
}

.sidebar li {
    line-height: 0px;
    margin: 0px;
}

.sidebar h5 {
    margin-bottom: 7px;
    text-decoration: underline;
}

/*---- Single Blog Post Page ----*/

.blog-post {
    padding-bottom: 5%;
    background: #F5F4F0;
}

.blog-post a {
	text-decoration: underline;	
}
/*---- Hover Effects ----*/
    
.span4 {
    display:block;
    position: relative;
}

.red {
    background-color: red;
    float:left;
    overflow:hidden;
    /*font-size:50px;*/
}

.span4:hover:after
{
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.red:hover:after
{
    background: RGBA(255, 0, 0, .3);
}
