{% include header.html %}

{% include navbar.html %}

<section class="blog-post">
    <div class="container">
        <div class="fourteen columns offset-by-one">
            <div class="text-center top-10 bottom-8">
                <h2> {{ page.title }} </h2>
                <p> {{ page.date | date_to_long_string }} </p>
                <div class="divider"></div>
            </div>
           {{ content }}
        </div>
        <div class="fourteen columns offset-by-one text-center top-4">
            <p>Have a comment, question or just want to share this? @me on <a href="https://twitter.com/EricPrice2">Twitter</a></p>
            <p><a href="https://twitter.com/share" class="twitter-share-button" data-via="ericprice2" data-size="large" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
        </div>
    </div>
</section>

{% include footer.html %}
