---
layout: subpage
title: Blog - Eric Price - Freelance Web Design and Developer
---

<section class="sub-cta">
        <div class="container">
            <div class="sixteen columns text-center">
                <h2>MY BLOG</h2>
                <h4>News, guides and resources</h4>
                <div class="divider"></div>
            </div>
        </div>
    </section>

    <section class="blog">
    	<div class="container">
    		<div class="sixteen columns">
    				<div class="posts-list">
      			       
                        {% unless page.content == '' %}
                        <p>{{ page.content }}</p>
                        {% endunless %}

                        {% for post in site.categories.[page.type] %}
                        <h2><a href=""></a></h2>
                        <p></p>
                        {% endfor %}

      				</div>
    		</div>
    	</div>
    </section>
