{% include header.html %}

<header class="subpage-header">
    <div class="row">
        <div class="large-9 medium-10 columns small-centered">
                <nav>
                    <ul>
                        <li><a href="/">HOME</a></li><span> - </span>
                        <li><a href="/blog">BLOG</a></li><span> - </span>
                        <li><a href="/projects">PROJECTS</a></li><span> - </span>
                        <li><a href="/#contact">CONTACT</a></li>
                    </ul>
                </nav>
        </div>
    </div>
</header>

{{ content }}

{% include footer.html %}