{% include header.html %}

<div class="blog-nav-bar">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#work">WORK</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="mailto:mail@eric-price.net">CONTACT</a></li>
    </ul>
</div>

<div class="blog-logo">
    <a href="/"><img src="/img/logo2.png"></a>
</div>

<div class="blog-post">
    <div class="row">
        <div class="large-9 medium-10 columns small-centered">
            
            {{ content }}

        </div>
    </div>
</div>

{% include footer.html %}